body {
  background-color: #d7dde2;
}

sidebar {
  color: #2e373d;
  z-index: 2;
  width: 15em;
  transform: translate(2em, 2em);
  display: inline-flex;
  flex-direction: column;
  position: absolute;
}
  sidebar h1 {
    font-size: 2em;
    font-family: 'Snell Roundhand', cursive;
    margin: 0em;
  }
  sidebar h2 {
    font-size: 1em;
    margin: 0em;
  }
  sidebar #link {
    color: #2e373d;
    font-family: Courier New, Courier, monospace;
    text-decoration: none;
  }

page {
  width: 50%;
  transform: translate(-20em, 6em);
  /* display: inline-flex;
  flex-direction: column; */
  font-family: Courier New, Courier, monospace;
  float: right;
}

about img {
  width: 1.5em;
  padding-right: 1em;
  padding-top: 2em;
}

home {
  text-align: center;
  position: relative;
}
  home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  projects img {
    width: 1.5em;
  }

section {
  width: 100%;
  height: 60%;
}
  #project-list {
    display: inline-flex;
    flex-direction: column;
  }
    #project-list .project-text {
      width: 72%;
      position: absolute;
      opacity: 0;
      transition: opacity .75s;
      /* display: block;
      float: right; */
    }
    #project-list .project-image {
      width: 20%;
      margin: 0.25em;
      opacity: 1;
      transition: opacity .1s;
      vertical-align: middle;
      /* display: block;
      float: left; */
    }
    #project-list .project-title {
      padding-right: 2em;
      font-size: 1.25em;
      color: #2e373d;
      text-decoration: none;
    }
    #project-list a:hover img {
      opacity: 0.25;
    }
    #project-list a:hover + .project-text {
      opacity: 1;
    }
    #project-list .award-text {
      width: 78%;
      position: absolute;
      opacity: 0;
      transition: opacity .75s;
      vertical-align: middle;
      /* display: block;
      float: right; */
    }
    #project-list .award-title {
      padding-top: 5em;
      padding-right: 2em;
      font-size: 1.25em;
      color: #2e373d;
      text-decoration: none;
      vertical-align: middle;
    }
    #project-list a:hover + .award-text {
      opacity: 1;
    }

    /* #awards {
      display: none;
    } */

resume img {
  width: 100%;
  margin-bottom: 6em;
}