@font-face {
  font-family: Ailerons-Typeface;
  src: url("typefaces/Ailerons-Typeface.otf") format("opentype");
  }
  @font-face {
    font-family: Moka-Typeface;
    src: url("typefaces/Moka-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: Qontra-Typeface;
    src: url("typefaces/Qontra.otf") format("opentype");
  }
  @font-face {
    font-family: Manifesto-Typeface;
    src: url("typefaces/manifesto.ttf") format("truetype");
  }
  @font-face {
    font-family: Simplifica-Typeface;
    src: url("typefaces/simplifica.ttf") format("truetype");
  }
  @font-face {
    font-family: Axis-Typeface;
    src: url("typefaces/Axis-Extrabold.otf") format("opentype");
  }

body {
  background-color: #d7dde2;
  font-family: Courier New, Courier, monospace;
}

sidebar {
  color: #2e373d;
  z-index: 2;
  width: 15em;
  transform: translate(2em, 2em);
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  }
  sidebar h1 {
    font-size: 2em;
    font-family: Axis-Typeface;
    margin: 0em;
  }
  sidebar h2 {
    font-size: 1em;
    margin: 0em;
  }
  sidebar #link {
    color: #2e373d;
    text-decoration: none;
  }

page {
  width: 65%;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

about p {
  margin-left: 10%;
  transform: translateY(-2em);
  }
  about .about-image {
    width: 6em;
  } 
  about .link-image {
    width: 1.5em;
    padding-right: 1em;
  }



#project-list > div {
    flex-wrap: wrap;
  }
  #flex {
    display: flex;
  }
    #project-list p {
      position: relative;
      flex-basis: calc(100% / 5);
    }
    #project-list .project-name {
      width: 90%;
      font-size: .75em;
      font-family: Axis-Typeface;
      border: double;
      position: absolute;
      text-align: center;
      transition: opacity .2s; 
      transform: translate(-105%, 320%);
      z-index: -1;
    }
    #project-list input {
      width: 100%;
      transition: opacity .4s;
      z-index: 3;
    }
    #project-list .project-text {
      width: 95%;
      font-size: 1em;
      position: absolute;
      transition: opacity .6s;
      transform: translate(2em, 0em);
    }
    #project-list .button {
      font-family: Axis-Typeface;
      border: double;
      border-width: thin;
      color: black;
      background-color: #d7dde2;
    }
    #project-list .button-construction {
      font-family: Axis-Typeface;
      border: double;
      border-width: thin;
      color: gray;
      background-color: #d7dde2;
      text-decoration: line-through;
    }

resume img {
  width: 100%;
  margin-bottom: 6em;
}

#christinalinks {
  color: #2e373d;
  text-decoration: overline;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  }
  #design-list {
    text-align: center;
    padding-bottom: 1em;
  }
  #christina-list {
    text-align: center;
  }
  img.christina-item {
    position: absolute;
    height: 100%;
  }

.box {
  margin: 0.5%;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  padding-bottom: 45%;
  transition: width 1s;
}