body {
  background-color: #9fadb8;
}

sidebar {
  color: #2e373d;
  font-size: 1em;
  font-family: 'Snell Roundhand', cursive;
  transform: translateX(5em);
}

#menu {
  padding: 5px;
  margin-bottom: 25px;
}
